* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #ceb4b4;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
   
    .app-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 1rem;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th,
    td {
      border: 1px solid #ffffff;
      text-align: left;
      padding: 8px;
      font-size: 32px;
    }
    
    th {
      background-color: rgb(117, 201, 250);
    }
    
    td {
      background-color: rgb(205, 235, 253);
    }
    
    form {
      display: flex;
      gap: 5px;
    }
    
    form td:last-child {
      display: flex;
      justify-content: space-evenly;
    }
    
    form * {
      font-size: 28px;
    }